<div ng-controller="QuestionsController as quest">
    <table class="table table-hover">
        <h1>Question: {{quest.post.question}}</h1>
        <h2>Description: {{quest.post.description}}</h2>
        <ul ng-repeat = "answer in quest.post.answers">
            <li>{{answer.name}}:</li>
            <li style="font-weight:bold">{{answer.answer}}</li>
            <li>{{answer.details}}</li>
            <li style="float:right">{{answer.likes}}</li>
            <li style="float:right" class="btn btn-lg btn-primary" ng-click="quest.addLike(answer._id)">LIKE</li>
        </ul>
</table>
</div>
